* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

:root {
  --primary-color: #FFBD5C;
  --secondary-color: #A03636;
}

.navbar, .col, #graph {
  background-color: var(--primary-color);
  /* display: none; */
}

.content {
  padding-top: 55px;
}

.sidebar, .judul-content, #btn-search {
  background-color: var(--secondary-color);
}

#graph {
  display: block;
}

#container-income:active {
  border: 10px solid gray;
}

#content-income {
  display: none;
}

#content-income input[type="date"] {
  border: none; /* Menghapus semua border */
  border-bottom: 2px solid black; /* Menambahkan border hanya di bagian bawah */
  background-color: transparent; /* Menghapus latar belakang */
  color: black; /* Warna teks */
  padding: 8px; /* Padding di sekitar teks */

}



